// you can custom css vars here
:root {
    --va-font-serif: 'Noto Serif SC';
    --va-font-sans: 'Noto Serif SC';
    --va-font-mono: 'Noto Serif SC';
    --smc-font-serif: 'Noto Serif SC';
    --smc-font-sans: 'Noto Serif SC';
    --smc-font-mono: 'Noto Serif SC';
}